.hideOnMobile {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hideOnMobile {
    display: block;
  }
}

.hideOnDesktop {
  display: block;
}
@media only screen and (min-width: 768px) {
  .hideOnDesktop {
    display: none;
  }
}

.pageTitle {
  margin: auto;
  margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
  .pageTitle {
    margin: auto !important;
  }
}
