name: verify docker build

on:
  pull_request:
    branches:
    - main

env:
  REGISTRY_IMAGE: nivg1992/faceplatform

jobs:
  pre_job:
    # continue-on-error: true # Uncomment once integration is finished
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          # All of these options are optional, so you can remove them if you are happy with the defaults
          skip_after_successful_duplicate: 'true'
          paths: '["Dockerfile", "poetry.lock", "pyproject.toml", ".github/workflows/verify-docker.yml"]'
  docker:
    needs: pre_job
    if: needs.pre_job.outputs.should_skip != 'true'
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64
          push: false
          tags: ${{env.REGISTRY_IMAGE}}:latest
          cache-from: type=registry,ref=${{env.REGISTRY_IMAGE}}:buildcache